.dropdown-item{
    border-radius: 6px !important;
    
}

.dropdown-item:hover{
    background-color: blueviolet !important; 
    cursor: pointer !important;
}

.dropdown-content{
    background-color: rgb(15, 14, 14);
}
.dropdown-trigger{
    border: none;
}
.dropdown-trigger{
    border: none;
}